* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
input,
label {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
   outline: none;
   border: 0;
}

body {
   display: flex;
   min-height: 100vh;
   overflow-x: hidden;
   background-color: black;
}

#root {
   display: inherit;
}
